body{
	width:expression(document.documentElement.clientWidth < 993 ? "993px" : "auto");
}
ul.btns li.a-photography a,
ul.btns li.a-interactive a,
ul.btns li.a-event a,
ul.btns li.a-photography a:hover,
ul.btns li.a-interactive a:hover,
ul.btns li.a-event a:hover,
#footer,
ul.nav li a:hover,
ul.nav li a.active,
ul.info-boxes li,
ul.links,
.event ul.nav li a:hover,
.event ul.nav li a.active,
.event ul.info-boxes li,
.interactive ul.nav li a:hover,
.interactive ul.nav li a.active,
.interactive ul.info-boxes li{
	background:url(../images/none.gif) fixed;
}
ul.btns li.a-photography a{filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/a-photography.png', sizingmethod='crop');}
ul.btns li.a-interactive a {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/a-interactive.png', sizingmethod='crop');}
ul.btns li.a-event a {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/a-event.png', sizingmethod='crop');}
ul.btns li.a-photography a:hover {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/a-photography-hov.png', sizingmethod='crop');}
ul.btns li.a-interactive a:hover {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/a-interactive-hov.png', sizingmethod='crop');}
ul.btns li.a-event a:hover {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/a-event-hov.png', sizingmethod='crop');}
#footer {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/footer-bg.png', sizingmethod='crop');}
ul.nav li a:hover,
ul.nav li a.active {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/photography-nav-hov-bg.png', sizingmethod='crop');}
ul.info-boxes li{filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/info-box-bg.png', sizingmethod='crop');}
ul.links {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/links-bg.png', sizingmethod='crop');}
.event ul.nav li a:hover,
.event ul.nav li a.active {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/event-nav-hov-bg.png', sizingmethod='crop');}
.event ul.info-boxes li{filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/info-box-bg-event.png', sizingmethod='crop');}
.interactive ul.nav li a:hover,
.interactive ul.nav li a.active {filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/interactive-nav-hov-bg.png', sizingmethod='crop');}
.interactive ul.info-boxes li{filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/info-box-bg-interactive.png', sizingmethod='crop');}
.mathsblog #footer{filter:none;}

ul.breadcrumbs li {
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0" : "auto");
}
